# Data Wrangling

---

# Working with structured data such as tables

## JSON

The syntax of JSON is very similar to the syntax of `int`, `str`, `list` and `dict` data types in Python. 

The following data (excerpt) is taken from the data that feeds the Instagram page of the UvA (https://www.instagram.com/uva_amsterdam/). The API/service of Instagram returns web data in JSON that is used by your browser to show you a page with content. You can also find this when inspecting the source of the page. 

A JSON file (named `example.json`) that looks like this:
```json
{
    "biography": "Welcome to the UvA \u274c\u274c\u274c \nFind out more about our:\n\ud83c\udfdb campuses \ud83c\udf93 education \ud83d\udd0e research\nShare your \ud83d\udcf8 using: #uva_amsterdam\nQuestions? Contact us:",
    "blocked_by_viewer": false,
    "restricted_by_viewer": null,
    "country_block": false,
    "external_url": "https://linkin.bio/uva_amsterdam",
    "external_url_linkshimmed": "https://l.instagram.com/?u=https%3A%2F%2Flinkin.bio%2Fuva_amsterdam\u0026e=ATOBo7L11uPBpsMfd6-pFnoBRaF3T-6ovlD9Blc2q1LGUjnmyuGutPfuK-ib70Bt_YmGu6cDNCX1Y1lC\u0026s=1",
    "edge_followed_by": {
        "count": 42241
    },
    "fbid": "17841401222133463",
    "followed_by_viewer": false,
    "edge_follow": {
        "count": 362
    },
    "follows_viewer": false,
    "full_name": "UvA: University of Amsterdam",
    "id": "1501672737",
    "is_business_account": true,
    "is_joined_recently": false,
    "business_category_name": "Professional Services",
    "overall_category_name": null,
    "category_enum": "UNIVERSITY",
    "category_name": null,
    "profile_pic_url": "https://scontent-amt2-1.cdninstagram.com/v/t51.2885-19/s150x150/117066908_1128864954173821_2797787766361156925_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com\u0026_nc_ohc=PXsEzg-CKaUAX8dEtNL\u0026tp=1\u0026oh=86bb46d8006b77db2037955187e69de1\u0026oe=6056619F",
    "username": "uva_amsterdam",
    "connected_fb_page": null
}
```

Can be loaded into Python as a dictionary:
```python
{
    'biography': 'Welcome to the UvA ‚ùå‚ùå‚ùå \nFind out more about our:\nüèõ campuses üéì education üîé research\nShare your üì∏ using: #uva_amsterdam\nQuestions? Contact us:',
     'blocked_by_viewer': False,
     'restricted_by_viewer': None,
     'country_block': False,
     'external_url': 'https://linkin.bio/uva_amsterdam',
     'external_url_linkshimmed': 'https://l.instagram.com/?u=https%3A%2F%2Flinkin.bio%2Fuva_amsterdam&e=ATOBo7L11uPBpsMfd6-pFnoBRaF3T-6ovlD9Blc2q1LGUjnmyuGutPfuK-ib70Bt_YmGu6cDNCX1Y1lC&s=1',
     'edge_followed_by': {'count': 42241},
     'fbid': '17841401222133463',
     'followed_by_viewer': False,
     'edge_follow': {'count': 362},
     'follows_viewer': False,
     'full_name': 'UvA: University of Amsterdam',
     'id': '1501672737',
     'is_business_account': True,
     'is_joined_recently': False,
     'business_category_name': 'Professional Services',
     'overall_category_name': None,
     'category_enum': 'UNIVERSITY',
     'category_name': None,
     'profile_pic_url': 'https://scontent-amt2-1.cdninstagram.com/v/t51.2885-19/s150x150/117066908_1128864954173821_2797787766361156925_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com&_nc_ohc=PXsEzg-CKaUAX8dEtNL&tp=1&oh=86bb46d8006b77db2037955187e69de1&oe=6056619F',
     'username': 'uva_amsterdam',
     'connected_fb_page': None
}
```

The main differences between dictionaries in Python and the JSON file notation are:

* Python dictionaries exist in memory in Python, they are an abstract datatype. JSON is a data format and can be saved on your computer, or be transmitted as string (e.g. for a website request, sending data).
* Keys in JSON can only be of type string. This means that writing a Python dictionary with integers as keys will transform them to string. Reading back the file will therefore give you a Python dictionary with strings as keys.
* All non-ascii characters are escape sequences (e.g. `\u274c`) for ‚ùå. This is the same for letters with diacritics (e.g. √©, √™, √ß, √±). If all characters are escaped this way, you don't have to specify an encoding when opening json files.
* `True` and `False` are lowercased: `true` and `false`. `None` is `null`. 
* JSON only allows double quotes for its "strings".

The built-in json module of Python needs to be imported first, to work with json files and notation.

In [ ]:
import json

Let's read a json file from our disk using `json.load()`. The file comes from the public API of the municipality of Amsterdam to look up information on houses by searching on street name and house number. See: https://api.data.amsterdam.nl/atlas/search/adres/. Most often, information from such API's or 'REST-services' is given back in JSON.

In [ ]:
with open('data/bg1.json') as jsonfile:
    data = json.load(jsonfile)

Then, we can inspect the loaded data as a Python dictionary:

In [ ]:
print(type(data))
data

In [ ]:
data

When we are only interested in the information on the building, we can take out that part to store it separately. This is the first dictionary element in the list that can be found under key `data['results']`. The rest of the information is feedback from the API, telling us that there is 1 hit.

In [ ]:
data_selection = data['results'][0]

# Delete all keys starting with an _underscore

for k in list(data_selection):
    if k.startswith('_'):
        del data_selection[k]

data_selection
# print(type(data_selection))

Then, save it back to a json file using `json.dump()`:

In [ ]:
with open('stuff/bg1-selection.json', 'w') as outfile:
    json.dump(data_selection, outfile, indent=4)

### Quiz

* Modify that function you previously built in the last notebook to generate statistics for a file once more so that it returns a python dictionary with these statistics.
* Write a function that uses the `os.walk()` or `os.listdir()` method to run the file statistics function over every file in a folder. Create a dictionary that takes the file name as key, and the returned statistics dictionary as value.
* Also add arguments for a `target_file_path`, and a `data` dictionary to that function. Use the `json.dump()` method to write the dictionary to the provided file path using a with statement.
* Inspect the file by opening it on your computer with a text editor of some sorts. Find a way to make it 'pretty printed' (e.g. with _indents_).

In [ ]:
# Your code here

source_folder = "data/gutenberg-extension"
target_file_path = "stuff/gutenberg-statistics.json"

def your_modified_statistics_function(file_path):
    # Your code
    
    return statistics_dict

def your_functions_here():
    return

# Data wrangling with Pandas

## CSV (in Pandas)

The other often used file type is CSV (Comma Separated Values), or variants, such as TSV (Tab Separated Values). Python includes another built-in module to deal with these files: the `csv` module. But, we will be using the `Pandas` module, the go-to package for data analysis, that you already imported and updated in Notebook 0. 

A CSV file is similar to an Excel or Google Docs spreadsheet, but more limited in markup and functionality (e.g. you cannot store Excel functions). It is just a text file in which individual entries correspond to lines, and columns are separated by a comma. You can always open a CSV file with a text editor, and this also makes it so easy to store and share data with.

For the rest of the notebook we will see how to work with the two main data types in `pandas`: the `DataFrame` and a `Series`.

Information on functions and modules of Pandas cannot be found in the Python manual online, as it is an external package. Instead, you can refer to https://pandas.pydata.org/pandas-docs/stable/index.html .

### Looping over DataFrames

Here is the third way to loop over dataframes:

In [ ]:
for r in df:
    print(r)

#### `zip(df['column1', df['column2')`
Going over these items in a `for` loop needs a different approach. The built-in `zip()` function ([manual](https://docs.python.org/3/library/functions.html#zip)) takes two iterables of even length and creates a new iterable of tuples. The number of arguments/iterables that you give to `zip()` determines the length of the tuples.

In [ ]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

list(zip(list1, list2))

In [ ]:
n = 0
for movie, imdb in zip(df['movie'], df['imdb']):
    
    if n > 9:
        break  # stop flooding the Notebook
    
    print(movie, "http://www.imdb.com/title/" + imdb, sep='\t')
    n += 1

---

# Data wrangling (example)

We can take a look at another example. We consider a dataset of tweets from Elon Musk, SpaceX and Tesla founder, and ask the following questions:
* When is Elon most actively tweeting?

While this question is a bit trivial, it will allow us to learn how to wrangle data.

In [ ]:
import pandas as pd

### Load dataset

Let's read in a CSV file containing an export of [Elon Musk's tweets](https://twitter.com/elonmusk), exported from Twitter's API.

In [ ]:
dataset_path = 'data/elonmusk_tweets.csv'
df = pd.read_csv(dataset_path, encoding='utf-8')

In [ ]:
df

In [ ]:
df.info()

Let's give this dataset a bit more structure:
- The `id` column can be transformed into the dataframe's index, thus enabling us e.g. to select a tweet by id;
- The column `created_at` contains a timestamp, thus it can easily be converted into a `datetime` value

In [ ]:
df.set_index('id', drop=True, inplace=True)

In [ ]:
df

In [ ]:
df.created_at = pd.to_datetime(df.created_at)

In [ ]:
df.info()

In [ ]:
df

---

### Selection

#### Renaming columns

An operation on dataframes that you'll find yourself doing very often is to rename the columns. The first way of renaming columns is by manipulating directly the dataframe's index via the `columns` property.

In [ ]:
df.columns

We can change the column names by assigning to `columns` a list having as values the new column names.

**NB**: the size of the list and new number of colums must match!

In [ ]:
# here we renamed the column `text` => `tweet`
df.columns = ['created_at', 'tweet']

In [ ]:
# let's check that the change did take place
df.head()

The second way of renaming colums is to use the method `rename()` of a dataframe. The `columns` parameter takes a dictionary of mappings between old and new column names.

```python
mapping_dict = {
    "old_column_name": "new_column_name"
}
```

In [ ]:
# let's change column `tweet` => `text`
df = df.rename(columns={"tweet": "text"})

In [ ]:
df.head()

**Question**: in which cases is it more convenient to use the second method over the first?

#### Selecting columns

In [ ]:
# this selects one single column and returns as a Series
df["created_at"].head()

In [ ]:
type(df["created_at"])

In [ ]:
# whereas this syntax selects one single column
# but returns a Dataframe
df[["created_at"]].head()

In [ ]:
type(df[["created_at"]])

####  Selecting rows

Filtering rows in `pandas` is done by means of `[ ]`, which can contain the row number as well as a condition for the selection.

In [ ]:
df[0:2]

### Transformation


The two main functions used to manipulate and transform values in a dataframe are:
- `.map()` (on Series only!)
- `.apply()`

In this section we'll be using both to enrich our datasets with useful information (useful for exploration, for later visualizations, etc.).

#### Add link to original tweet

The `map()` method can be called on a column, as well as on the dataframe's index.

When passed as a parameter to `map`, an 'anonymous' lambda function `lambda` can be used to transform any value from that column into another one.

In [ ]:
df['tweet_link'] = df.index.map(lambda x: f'https://twitter.com/i/web/status/{x}')

Or, maybe it is easier with a list comprehension:

In [ ]:
df['tweet_link'] = [f'https://twitter.com/i/web/status/{x}' for x in df.index]

In [ ]:
df

#### Add colums with mentions

In [ ]:
import re

def find_mentions(tweet_text):
    """
    Find all @ mentions in a tweet and 
    return them as a list.
    """
    
    regex = r'@[a-zA-Z0-9_]{1,15}'
    mentions = re.findall(regex, tweet_text)
    
    return mentions

In [ ]:
df['tweet_mentions'] = df.text.apply(find_mentions)

In [ ]:
df['n_mentions'] = df.tweet_mentions.apply(len)

In [ ]:
df.head()

#### Add column with week day and hour

In [ ]:
def day_of_week(t):
    """
    Get the week day name from a week day integer.
    """
    
    if t == 0:
        return "Monday"
    elif t == 1:
        return "Tuesday"
    elif t == 2:
        return "Wednesday"
    elif t == 3:
        return "Thursday"
    elif t == 4:
        return "Friday"
    elif t == 5:
        return "Saturday"
    elif t == 6:
        return "Sunday"

In [ ]:
df["week_day"] = df.created_at.dt.weekday

In [ ]:
df["week_day_name"] = df["week_day"].apply(day_of_week)

Or, there is a built-in function in Pandas that gives back the day name:

In [ ]:
df["week_day_name"] = df.created_at.dt.day_name()

In [ ]:
df.head(3)

#### Add column with day hour

In [ ]:
df.created_at.dt?

In [ ]:
df.created_at.dt.hour.head()

In [ ]:
df["day_hour"] = df.created_at.dt.hour

In [ ]:
display_cols = ['created_at', 'week_day', 'day_hour']
df[display_cols].head(4)

##### Multiple conditions

In [ ]:
# AND condition with `&`

df[
    (df.week_day_name == 'Saturday') & (df.n_mentions == 0)
].shape

In [ ]:
# Equivalent expression with `query()`

df.query("week_day_name == 'Saturday' and n_mentions == 0").shape

In [ ]:
# OR condition with `|`

df[
    (df.week_day_name == 'Saturday') | (df.n_mentions == 0)
].shape

### Aggregation

In [ ]:
df.agg({'n_mentions': ['min', 'max', 'sum']})

#### Grouping

In [ ]:
group_by_day = df.groupby('week_day')

In [ ]:
# The head of a DataFrameGroupBy consists of the first
# n records for each group (see `help(grp_by_day.head)`)

group_by_day.head(1)

`agg` is used to pass an aggregation function to be applied to each group resulting from `groupby`.

Here we are interested in how many tweets there are for each group, so we pass `len()` to an 'aggregate'. This is similar to the `.count()` method.

In [ ]:
group_by_day.agg(len)

However, we are not interested in having the count for all columns. Rather we want to create a new dataframe with renamed column names.

In [ ]:
group_by_day.agg({'text': len}).rename({'text': 'tweet_count'}, axis='columns')

##### By label (column)

Previously we've added a column indicating on which day of the week a given tweet appeared.

In [ ]:
groupby_result_as_series = df.groupby('day_hour')['text'].count()

In [ ]:
groupby_result_as_series

In [ ]:
groupby_result_as_df = df.groupby('day_hour')[['text']]\
    .count()\
    .rename({'text': 'count'}, axis='columns')

In [ ]:
groupby_result_as_df.head()

##### By series or dict

In [ ]:
df.groupby?

In [ ]:
# here we pass the groups as a series
df.groupby(df.created_at.dt.day).agg({'text':len}).head()

In [ ]:
# here we pass the groups as a series
df.groupby(df.created_at.dt.day)[['text']].count().head()

In [ ]:
df.groupby(df.created_at.dt.hour)[['text']].count().head()

##### By multiple labels (columns)

In [ ]:
# Here we group based on the values of two columns
# instead of one

x = df.groupby(['week_day', 'day_hour'])[['text']].count()

In [ ]:
x.head()

#### Aggregation methods

**Summary**:

- `count`: Number of non-NA values
- `sum`: Sum of non-NA values
- `mean`: Mean of non-NA values
- `median`: Arithmetic median of non-NA values
- `std`, `var`: standard deviation and variance
- `min`, `max`: Minimum and maximum of non-NA values

You can also use these in an aggregation functions within a groupby:

In [ ]:
df.groupby('week_day').agg(
    {
        # each key in this dict specifies
        # a given column
        'n_mentions':[
            # the list contains aggregation functions
            # to be applied to this column
            'count',
            'mean',
            'min',
            'max',
            'std',
            'var'
        ]
    }
)

#### Sorting

To sort the values of  a dataframe we use its `sort_values` method:
- `by`: specifies the name of the column to be used for sorting
- `ascending` (default = `True`): specifies whether the sorting should be *ascending* (A-Z, 0-9) or `descending` (Z-A, 9-0)

In [ ]:
df.sort_values(by='created_at', ascending=True).head()

In [ ]:
df.sort_values(by='n_mentions', ascending=False).head()

### Save

Before continuing with the plotting, let's save our enhanced dataframe, so that we can come back to it without having to redo the same manipulations on it.

`pandas` provides a number of handy functions to export dataframes in a variety of formats.

Here we use `.to_pickle()` to serialize the dataframe into a binary format, by using behind the scenes Python's `pickle` library.

In [ ]:
df.to_pickle("stuff/musk_tweets_enhanced.pickle")

## Part 2

In [ ]:
df = pd.read_pickle("stuff/musk_tweets_enhanced.pickle")

### `describe()`

The default behavior is to include only column with numerical values

In [ ]:
df.describe()

A trick to include more values is to exclude the datatype on which it breaks, which in our case is `list`.

In [ ]:
df.describe(exclude=[list])

In [ ]:
df.created_at.describe(datetime_is_numeric=True)

In [ ]:
df['week_day_name'] = df['week_day_name'].astype('category')

In [ ]:
df.describe(exclude=['object'])

### Plotting

In [ ]:
# Not needed in newest Pandas version
%matplotlib inline 

import matplotlib.pyplot as plt

#### Histograms

They are useful to see the distribution of a certain variable in your dataset.

In [ ]:
df.groupby(['n_mentions'])[['text']].count()

In [ ]:
plt.figure(figsize=(10, 6))
plt.hist(df.n_mentions, bins='auto', rwidth=1.0)
plt.title('Distribution of the number of mentions per tweet')
plt.ylabel("Tweets")
plt.xlabel("Mentions (per tweet)")
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
plt.hist(df.day_hour, bins='auto', rwidth=0.6)
plt.title('Distribution of the number of mentions per tweet')
plt.ylabel("Tweets")
plt.xlabel("Hour of the day")
plt.show()

In [ ]:
df_2017 = df[df.created_at.dt.year == 2017]

In [ ]:
plt.figure(figsize=(10, 6))
plt.hist(df_2017.day_hour, bins='auto', rwidth=0.6)
plt.title('Year 2017')
plt.ylabel("Tweets")
plt.xlabel("Hour of the day")
plt.show()

So far we have used directly `matplotlib` to generate our plots.

`pandas`'s dataframes provide some methods that directly call `matplotlib`'s API behind the scenes:
- `hist()` for histograms
- `boxplot()` for boxplots
- `plot()` for other types of plots (specified with e.g. `any='scatter'`)

By passing the `by` parameter to e.g. `hist()` it is possible to produce one histogram plot of a given variable for each value in another column.

Let's see how we can plot the number of mentions by year:

In [ ]:
df['year'] = df.created_at.dt.year

In [ ]:
axes = df.hist(column='day_hour', by='year', figsize=(10,10))

#### Bar charts

They are useful to plot categorical data.

In [ ]:
plt.bar?

In [ ]:
tweets_by_weekday = df.groupby(df.created_at.dt.weekday)[['text']].count()

In [ ]:
week_days = [
    "Mon",
    "Tue",
    "Wed",
    "Thur",
    "Fri",
    "Sat",
    "Sun"
]

In [ ]:
plt.figure(figsize=(8, 6))

# specify the type of plot and the labels
# for the y axis (the bars)
plt.bar(
    tweets_by_weekday.index,
    tweets_by_weekday.text,
    tick_label=week_days,
    width=0.5
)

# give a title to the plot
plt.title('Elon Musk\'s week on Twitter')

# give a label to the axes
plt.ylabel("Number of tweets")
plt.xlabel("Week day")
plt.show()

#### Box plots

![box plot explained](https://github.com/bloemj/2022-coding-the-humanities/blob/master/notebooks/images/eda-boxplot.png?raw=1)

### Outliers, missing values

An *outlier* is an observation far from the center of mass of the distribution. It might be an error or a genuine observation: this distinction requires domain knowledge. Outliers infuence the outcomes of several statistics and machine learning methods: it is important to decide how to deal with them.

A *missing value* is an observation without a value. There can be many reasons for a missing value: the value might not exist (hence its absence is informative and it should be left empty) or might not be known (hence the value is existing but missing in the dataset and it should be marked as NA).

*One way to think about the difference is with this Zen-like koan: An explicit missing value is the presence of an absence; an implicit missing value is the absence of a presence.*

In [ ]:
tweets_by_weekday

In [ ]:
tweets_by_weekday.describe()

In [ ]:
tweets_by_weekday.boxplot()

In [ ]:
plt.bar?

In [ ]:
df.head(3)

In [ ]:
df[['day_hour']].describe()

In [ ]:
df[['day_hour']].quantile(.25)

In [ ]:
df.boxplot?

In [ ]:
df[['day_hour', 'week_day_name']].boxplot(
    by='week_day_name',
    grid=False,
    figsize=(8,6),
    fontsize=10
)

# give a title to the plot
plt.title('')

# give a label to the axes
plt.xlabel("Day of the week")
plt.show()

In [ ]:
df[['day_hour', 'week_day']].boxplot(
    by='week_day',
    grid=True, # just to show the difference with/without
    figsize=(8,6),
    fontsize=10
)

# give a title to the plot
plt.title('')

# give a label to the axes
plt.xlabel("Day of the week")
plt.show()

### Exercise 1.

* Create a function that calculates the frequency of hashtags in tweets.
* Test it on toy examples, to make sure it works.
* Apply it to Elon Musk's tweets.
* List the top 10 hashtags in the dataset.

In [ ]:
# Your code here.

---